<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sp.shangpin">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.RegisterActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.HomeActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.GoodsDetailsActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.TopUpActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.LotteryActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.RuleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.OrdersActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.InputAddrActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.NormalGoodsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.NormalGoodsDetailsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.NormalOrdersActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.YhqActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.AlertPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.FindPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.RealNameActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.GetCashActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.BindPhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.GetCashLogActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.TopUpLogActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.ChooseYouhuiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.DialogActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
    </application>

</manifest>